@import 'reset.css';
@import 'variables.less';

.radius{ border-radius: 4px; }
.box-shadow{ }
*{ box-sizing: border-box;}
body{
    font-family: 'snfont';
    font-size: 14px;
    background-color: @base-background-color;
}
a{
    color: @font-color;
    &:hover{
        color:@base-color;
    }
}
button.@{prefix}btn {
    .radius;
    padding: 9px 15px;
    font-size:14px;
    &:not(.is-disabled):hover{
        //transform: scale(1.05, 1.05);
        transform: translateY(-2px);
        transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), color 0.2s ease-in-out;
        //transition: color 0.3s ease-in-out;
    }
    .color-hover-primary(@border-color);
    &@{danger}{
        background-color: @@danger;
        .color-hover(@@danger)
    }
    &@{accessory}{
        background-color: @@accessory;
        .color-hover(@@accessory)
    }
    &@{warning}{
        background-color: @@warning;
        .color-hover(@@warning)
    }
    &@{primary}{
        .color-hover(@base-color);
    }
    &@{tinny}{
        padding: 2px 6px;
        font-size:12px;
    }
    &@{small}{
        padding: 4px 10px;
        font-size:12px;
    }
    &@{large}{
        padding: 10px 20px;
        font-size:16px;
    }
}
input.@{prefix}input{
    .radius;
    border: @input-border;
    height:38px;
    line-height:38px;
    padding-left:14px;
    font-size:14px;
    &:focus {
        outline: none;
        border:2px solid @@info;
        //box-shadow: 0 0 2px #719ECE;
    }
    &@{tinny}{
        height:30px;
        line-height: 30px;
        font-size:12px;
    }
    &@{small}{
        height:34px;
        line-height: 34px;
        font-size:12px;

    }
    &@{large}{
        height:42px;
        line-height: 42px;
        font-size:14px;
    }
}